* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --color-bluishDark: rgb(3, 53, 81);
   /* --color-orange: rgb(211, 88, 39); */
   --color-orange: rgb(199, 82, 36);
   --color-dark: #022031;
   --color-light: #f4f8fb;
   --color-white: #ffffff;
}
body,
html {
   font-family: "Archivo", sans-serif;
   color: var(--color-bluishDark);
}

p {
   line-height: 140%;
   font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   line-height: auto;
}

img {
   width: 100%;
   height: auto;
}

/* resets */
.container {
   padding-inline: 20px;
}

/* Header & Footer */
.nav-logo-wrapper {
   position: absolute;
   top: 0;
   left: 1.25rem;
   /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 2px 0px #d35827; */
   filter: drop-shadow(0 3px 0 rgba(211, 88, 39, 1))
      drop-shadow(0 10px 6px rgba(0, 0, 0, 0.15));
}
.nav-logo {
   background: var(--color-light);
   padding-block: 0.5rem 1.5rem;
   clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
nav.fixed-top {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   z-index: 1000 !important;
}
nav .desktopNavMenu li a.active {
   background: var(--color-bluishDark);
   box-shadow: 0 4px 0 rgba(211, 88, 39, 1);
}
nav .mobileNavMenu li a.active {
   color: var(--color-orange);
   font-weight: bold;
}
nav .mobileNavMenu {
   z-index: 1000;
}
.mobileNavMenu {
   box-shadow: 0 400px 1000px 300px rgba(0, 0, 0, 0.6);
}

.footer-overlay {
   background-image: linear-gradient(
         rgba(211, 88, 39, 0.85),
         rgba(211, 88, 39, 0.85)
      ),
      url("../img/footer-overlay-img.webp");
   background-size: cover;
   background-repeat: no-repeat;
   clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

/* Inner Pages Hero */
.hero.hero--innerPage {
}
.hero.hero--contactPage {
   background: linear-gradient(rgba(3, 53, 81, 0.6), rgba(3, 53, 81, 0.6)),
      url("../img/contact-hero-img.webp");
   background-size: cover;
   background-attachment: fixed;
   background-position: top center;
   background-repeat: no-repeat;
}

/* Components Styles */
.btn {
   display: inline-block;
   border: 1px solid var(--btn-color);
   background: var(--btn-color);
   width: fit-content;
   min-width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   padding: 0.8rem 2rem;
   color: var(--color-dark);
   font-weight: 500;
   margin: 0;
   position: relative;
   z-index: 10;
   transition: 0.35s ease-out;
}
.btn::after {
   content: "";
   position: absolute;
   top: calc(100% + 4px);
   left: 50%;
   transform: translateX(-50%);
   width: calc(100% + 2px);
   height: 1px;
   background: var(--btn-color);
   pointer-events: none;
   transition: 0.35s ease-out;
   z-index: -1;
}

/* Button Colors */
.btn.btn-light,
.btn.btn-hover-light:hover {
   --btn-color: var(--color-light);
}
.btn.btn-dark,
.btn.btn-hover-dark:hover {
   --btn-color: var(--color-bluishDark);
}
.btn.btn-orange,
.btn.btn-hover-orange:hover {
   --btn-color: var(--color-orange);
}
.btn.btn-black,
.btn.btn-hover-black:hover {
   --btn-color: var(--color-dark);
}

/* Button Sizes */
.btn.btn-sm {
   padding: 0.5rem 1.25rem;
   min-width: 100px;
   font-weight: 400;
   gap: 0.25rem;
   font-size: 0.9rem;
}
.btn.btn-sm::after {
   top: calc(100% + 3px);
}

/* Button Types */
.btn.btn-secondary {
   background: transparent;
   color: var(--btn-color);
}

/* Button hover State */
.btn:hover::after {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
}
.btn:hover {
   color: var(--color-light);
}

/* line capping */
.line-clamp {
   --line-clamp: 3; /*default value*/

   display: -webkit-box;
   line-clamp: var(--line-clamp);
   -webkit-line-clamp: var(--line-clamp);
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.line-clamp.line-clamp-1 {
   --line-clamp: 1;
}
.line-clamp.line-clamp-2 {
   --line-clamp: 2;
}
.line-clamp.line-clamp-3 {
   --line-clamp: 3;
}
.line-clamp.line-clamp-4 {
   --line-clamp: 4;
}
.line-clamp.line-clamp-5 {
   --line-clamp: 5;
}

/* Styling Contact Page */
.contact-form-heading span {
   position: relative;
}
.contact-form-heading span::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: 5px;
   background: var(--color-orange);
}

/* Styling About Us */
.aboutus .about-ourProcess::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 50%;
   height: 100%;
   background: url("../img/about-our-process-img.webp");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}
@media screen and (max-width: 976px) {
   .aboutus .about-ourProcess::after {
      display: none;
   }
}

/* Home Page styling */
/* styling hero nav buttons */
.swiper-btn {
   /* position: absolute; */
   width: 40px;
   aspect-ratio: 1;
   display: grid;
   place-content: center;
   color: var(--color-light);
   cursor: pointer;
   font-size: 1.5rem;
   transition: 0.5s ease-out;

   --btn-color: var(--color-dark);
}
.swiper-btn.swiper-btn-next {
   --btn-color: var(--color-orange);
   background-color: var(--btn-color);
   border: 1px solid var(--btn-color);
}
.swiper-btn.swiper-btn-next:hover {
   background: var(--color-light);
   color: var(--color-dark);
}
.swiper-btn.swiper-btn-prev {
   background-color: var(--btn-color);
   border: 1px solid var(--btn-color);
}
.swiper-btn.swiper-btn-prev:hover {
   background: var(--color-light);
   color: var(--color-dark);
}
@media screen and (min-width: 768px) {
   .swiper-btn {
      width: 45px;
      font-size: 1.7;
   }
}

.homePage .hero-wrapper {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   position: relative;
   gap: 2rem;
}
.homePage .hero-wrapper .swiper-wrapper {
   width: 60%;
}
.homePage .hero-wrapper .swiper-wrapper::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(
      89.95deg,
      #f4f8fb 0.05%,
      rgba(244, 248, 251, 0) 57.99%
   );
   pointer-events: none;
   z-index: 1;
}
.homePage .hero-wrapper .content {
   width: 60%;
   position: absolute;
   left: 0;
   z-index: 10;
}
@media screen and (max-width: 976px) {
   .homePage .hero-wrapper {
      flex-direction: column;
      gap: 3rem;
   }
   .homePage .hero-wrapper .content {
      position: relative;
      width: 100%;
   }
   .homePage .hero-wrapper .swiper-wrapper {
      width: 100%;
   }
   .homePage .hero-wrapper .swiper-wrapper::after {
      display: none;
   }
}
