* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --color-dark: #1c201f;
   --color-primary: #fd9a02;
   --color-light: #fafbfb;
}
body,
html {
   font-family: "Poppins", sans-serif;
   color: var(--color-dark);
   font-size: 14px;
   scroll-behavior: smooth;
}

p {
   line-height: 150%;
   opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   line-height: auto;
}

img {
   width: 100%;
   height: auto;
}

.container {
   max-width: 1300px !important;
   padding-inline: 20px;
}

/* line capping */
.line-clamp {
   --line-clamp: 3; /*default value*/

   display: -webkit-box;
   line-clamp: var(--line-clamp);
   -webkit-line-clamp: var(--line-clamp);
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.line-clamp.line-clamp-1 {
   --line-clamp: 1;
}
.line-clamp.line-clamp-2 {
   --line-clamp: 2;
}
.line-clamp.line-clamp-3 {
   --line-clamp: 3;
}
.line-clamp.line-clamp-4 {
   --line-clamp: 4;
}
.line-clamp.line-clamp-5 {
   --line-clamp: 5;
}

@media screen and (min-width: 976px) {
}

@media screen and (min-width: 768px) {
   body,
   html {
      font-size: 15px;
   }
   .container {
      max-width: 1300px !important;
      padding-inline: 3rem;
   }
   .container.container-narrow {
      max-width: 1000px !important;
   }
}

/* Styling Buttons */
.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   line-height: 100%;
   font-weight: 500;
   padding: 1.15rem 1.6rem;
   border: 1px solid var(--color-primary);
   transition: 0.35s ease;
   width: fit-content;
   white-space: nowrap;
}
.btn.btn-primary {
   background: var(--color-primary);
   color: white;
   transition: 0.5s ease;
}
.btn:hover {
   background: white;
   color: var(--color-primary);
   box-shadow: 5px 5px 0 0 rgba(253, 154, 2, 0.3);
}

@media screen and (min-width: 768px) {
   .btn {
      padding: 1.25rem 2rem;
   }
}

.heading {
   position: relative;
   z-index: 10;
   font-size: 2rem;
   font-weight: 900;
   width: fit-content;
   line-height: 100%;
   margin-left: 1rem; /*because size is 2rem so take half of it*/
   font-family: "Inter", sans-serif;
}
.heading::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 0;
   translate: -50% -50%;
   height: 100%;
   aspect-ratio: 1 / 1;
   background: var(--color-primary);
   z-index: -1;
   opacity: 0.3;
}

/* Styling Home page */
/* navigation */
nav {
   position: relative;
}
nav::after {
   content: "";
   position: absolute;
   top: 20%;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 6px;
   z-index: -1;
   scale: 0.88;
}
nav .logo {
   clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
nav .navMenu {
   box-shadow: 0 200px 200px 100px rgba(0, 0, 0, 0.8);
}
nav .navMenu .active {
   box-shadow: none;
   text-decoration: underline;
   text-underline-offset: 4px;
}
nav #navbarToggle:checked ~ .navMenu {
   display: flex;
}
/* Hero */
.hero {
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
   position: relative;
}
.hero::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: -1;
}
.hero .hero-video {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: bottom;
   z-index: -1;
}

/* Counters */
.counts {
   position: relative;
}
.counts::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   width: 100%;
   height: 200%;
   background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 50%),
      url("../img/counter-background.png");
   background-position: center;
   z-index: -1;
   opacity: 5%;
}
.countPlus {
   position: relative;
}
.countPlus::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 100%;
   border: 1px solid var(--color-primary);
   animation: rippleCount 2s ease infinite;
}
@keyframes rippleCount {
   from {
      scale: 1;
      opacity: 1;
   }
   to {
      scale: 1.5;
      opacity: 0;
   }
}

/* services */
.services .image-wrapper {
   position: relative;
   overflow: hidden;
   display: block;
}
.services .image-wrapper::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--color-primary);
   opacity: 0;
   transition: 0.5s ease;
}
.services .image-wrapper img {
   transition: 1s ease;
}
.services .card:hover .image-wrapper img {
   rotate: -30deg;
   scale: 2;
   transform-origin: center;
}
.services .card:hover .image-wrapper::after {
   opacity: 0.5;
}

/* styling footer */
.cta {
   background: linear-gradient(
         0deg,
         rgba(253, 171, 45, 0.3),
         rgba(253, 171, 45, 0.3)
      ),
      url("../img/bg-cta.webp");
   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.cta .content-wrapper {
   background: rgba(255, 245, 230, 0.9);
}

@media screen and (min-width: 768px) {
   .hero {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
   }
}

@media screen and (min-width: 976px) {
   nav::after {
      scale: 0.9;
   }

   nav .navMenu .active {
      color: var(--color-primary);
      box-shadow: inset 0 -4px 0 0 #fd9a02;
      text-decoration: initial;
   }
   nav .navMenu {
      box-shadow: none;
      text-decoration: initial;
      text-underline-offset: initial;
   }
   nav .navMenu {
      display: flex !important;
   }
}

/* styling contact page */
.secondary-hero {
   background: linear-gradient(
         to top,
         rgba(0, 0, 0, 60%) 0%,
         rgba(0, 0, 0, 60%) 100%
      ),
      url("../img/contact-background.webp");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}
.secondary-hero.misc-pages {
   clip-path: none;
}
